$bg: #263238;
$shade: #13191c;
$tint: #2E3A40;
$prop: #80CBC4;
$values: #FF5555;
$red: #FF5370;
$pink: #f07178;
$orange: #F78C6C;
$yellow: #FFCB6B;
$leaf: #C3E88D;
$purp: #C792EA;
$mud: #AB7967;
$yeah: #50FA7B;
$white: #ffffff;

